* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "DM Serif Display", serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header_menu {
  display: flex;
  gap: 32px;
}
.header_menu_link {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
}

.main_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_text {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 81.25px */
}
.main_subtext {
  position: absolute;
  top: 57%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.main_button {
  position: absolute;
  top: 72%;
  left: 29%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: white;
  display: flex;
  padding: 26px 49px 26px 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main_text_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 25px;
}
.main_text_info .folow {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}
.main_text_info .folow_subtext {
  color: #4D5053;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.main .product-box {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 260px);
  justify-content: space-around;
  justify-items: center;
}
.main .product-box .product-item_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.main .product-box .item_png1 {
  border-top-right-radius: 25%;
}
.main .product-box .item_png2 {
  border-top-left-radius: 25%;
}
.main .product-box .item_png3 {
  border-bottom-right-radius: 25%;
}
.main .product-box .item_png4 {
  border-bottom-left-radius: 25%;
}
.main .number-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #F4F0EC;
  padding: 100px 25px;
  border-radius: 25px;
}
.main .number-box .number_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
}
.main .number-box .number_h2 {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 106.25px */
  letter-spacing: 1.7px;
}
.main .number-box .number_text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.main .number-box .number_item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .number-box .border {
  border-left: 2px solid #CDA274;
  height: 120px;
}
.main .bottom_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 32px;
}
.main .bottom_text .bottom_header {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}
.main .bottom_text .bottom_subtext {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}/*# sourceMappingURL=style.css.map */